.content-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }

.content-page-nav {
  width: 10%; }

.content-page-posts {
  width: 60%;
  background-color: white; }

.content-page-hashtags {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 30%;
  padding-top: 135px;
  background-color: #363636;
  height: 100vh;
  -webkit-box-shadow: inset 0px 0px 95px -29px #424242;
  -moz-box-shadow: inset 0px 0px 95px -29px #424242;
  box-shadow: inset 0px 0px 95px -29px #424242; }

.search-form {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: blue;
  position: fixed;
  margin-top: 0;
  top: 0;
  width: 46%;
  background-color: white; }

.rich-search {
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 2px solid black;
  width: 46%;
  height: 55px;
  background-color: #424242;
  transition: border-bottom .1s, background-color .5s ease;
  position: static;
  position: fixed;
  margin-top: 0px;
  margin-bottom: 50px;
  -webkit-box-shadow: inset 0px 0px 95px -29px black;
  -moz-box-shadow: inset 0px 0px 95px -29px black;
  box-shadow: inset 0px 0px 95px -29px black; }

.rich-search:focus {
  outline: none;
  border-bottom: 2px solid black;
  background-color: #fafafa;
  color: black;
  -webkit-box-shadow: inset 0px 0px 95px -29px white;
  -moz-box-shadow: inset 0px 0px 95px -29px white;
  box-shadow: inset 0px 0px 95px -29px white; }

.call-to-scroll {
  text-align: center;
  color: #ccc;
  z-index: -1; }

.trending-hashtags {
  background-color: #424242;
  text-align: center;
  color: white;
  width: 100%;
  height: 200px;
  background-color: #424242;
  padding: 5%;
  -webkit-box-shadow: 0px 0px 95px -29px black;
  -moz-box-shadow: 0px 0px 95px -29px black;
  box-shadow: 0px 0px 95px -29px black; }
  .trending-hashtags .trending {
    text-align: left;
    font-size: 1.5em;
    width: 100%;
    height: 300px; }

.rebel-community {
  background-color: #424242;
  text-align: center;
  padding: 5%;
  width: 100%; }

.users-wrapper {
  background-color: #424242;
  color: white;
  width: 25vw;
  overflow: scroll;
  height: 500px;
  margin-top: 50px;
  -webkit-box-shadow: 0px 0px 95px -29px black;
  -moz-box-shadow: 0px 0px 95px -29px black;
  box-shadow: 0px 0px 95px -29px black; }

.users {
  margin: auto;
  overflow: scroll;
  display: flex;
  width: 100%;
  height: 400px; }

.user-header {
  margin-top: 20px;
  margin-bottom: -20px; }

.post-top-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  margin-top: 5%; }

.post-top-section .title-date {
  width: 60%;
  padding-left: 8%; }

.post-top-section .userimage {
  width: 40%;
  padding-top: 4%;
  padding-right: 7%;
  text-align: right; }

.user_image {
  border-radius: 50%; }

.posts-container {
  width: 80%;
  margin: auto;
  margin-top: 75px; }

hr {
  width: 80%; }

.post {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75); }

.post-image {
  height: 100%;
  width: 100%;
  object-fit: contain; }

.post-image-container {
  height: 80%;
  width: 80%;
  background-color: #fefefe; }

.post-text {
  padding-top: 4%;
  padding-left: 9%;
  padding-right: 9%;
  font-size: 1.25em; }

.hashtags {
  display: flex;
  flex-direction: row; }

.single-hashtag {
  padding-bottom: 5%;
  margin-top: 10px;
  font-size: 2em;
  height: 100px; }

.hashtags-and-likes > * {
  width: 50%; }

.fa {
  width: 40px; }

.active, .inactive {
  font-size: 40px;
  cursor: pointer; }

.active, .inactive {
  font-size: 40px;
  cursor: pointer; }

i.active {
  color: #ccc; }

i.inactive {
  color: #FF333A; }

.post-shop-comment-heart {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  padding: 5%;
  margin-left: 5%; }

.post-shop {
  display: flex;
  flex-direction: column;
  width: 50%; }

.post-heart {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-end; }

.post-price {
  font-size: 1em;
  margin-left: 3%; }

.post-likes {
  font-size: 1em;
  margin-left: 5%; }

.init-wrap {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-left: 60%; }

/*# sourceMappingURL=homeposts.css.map */
