@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.create-post {
  margin-top: 5%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5%;
  -webkit-box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75); }

.create-post .input {
  width: 100%; }

.call-to-create {
  text-align: center; }

.submit-post {
  background-color: #FF333A; }

.content-page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }

.content-page-nav {
  width: 15%; }

.content-page-posts {
  width: 55%;
  background-color: white; }

.content-page-hashtags {
  width: 30%;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  background-color: #f6f6f6;
  height: 100vh; }

.search-form {
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px; }

.rich-search {
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 2px solid black;
  width: 80%;
  height: 55px;
  background-color: #424242;
  transition: border-bottom .1s, background-color .5s ease; }

.fa {
  width: 40px; }

.call-to-scroll {
  text-align: center;
  color: #ccc;
  z-index: -1; }

.rich-search:focus {
  outline: none;
  border-bottom: 2px solid #FF333A;
  background-color: #fafafa;
  color: black; }

.trending-hashtags {
  margin-top: 100px;
  background-color: #fefefe;
  text-align: center;
  width: 100%; }
  .trending-hashtags .trending {
    text-align: left;
    font-size: 1.5em; }

.rebel-community {
  text-align: center; }

.users {
  overflow: scroll;
  height: 400px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  .users .rebel {
    margin-top: 50px;
    height: 100px;
    background-color: white;
    width: 400px; }

.post-top-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  margin-top: 5%; }

.post-top-section .title-date {
  width: 60%;
  padding-left: 8%; }

.post-top-section .userimage {
  width: 40%;
  padding-top: 4%;
  padding-right: 7%;
  text-align: right; }

.user_image {
  border-radius: 50%; }

.posts-container {
  width: 80%;
  margin: auto;
  margin-top: 70px; }

hr {
  width: 80%; }

.post {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75); }

.post-image {
  height: 100%;
  width: 100%; }

.post-image-container {
  height: 500px;
  width: 500px; }

.post-text {
  padding-top: 4%;
  padding-left: 9%;
  padding-right: 9%;
  font-size: 1.25em; }

.hashtags {
  display: flex;
  flex-direction: row; }

.hashtags-and-likes > * {
  width: 50%; }

.active, .inactive {
  font-size: 40px;
  cursor: pointer; }

.active, .inactive {
  font-size: 40px;
  cursor: pointer; }

i.active {
  color: #ccc; }

i.inactive {
  color: #FF333A; }

.post-shop-comment-heart {
  display: flex;
  flex-direction: row;
  width: 100%; }

.post-shop {
  padding: 0;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.post-heart {
  padding: 0;
  width: 90%;
  flex-direction: column;
  margin-right: 0;
  margin-left: 50%;
  padding: 5%; }

.init-wrap {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-left: 60%; }

.mini-image {
  height: 200px;
  width: 200px; }

.mini-post {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.your-cart {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  align-items: center;
  background-color: #ccc;
  width: 30%; }

.cart-wrapper {
  background-color: white;
  margin-top: 20px;
  height: 500px;
  width: 100%; }

.single-post {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.lading-page-canon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.img-bg {
  background-image: url("../images/rebel.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -999;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-blend-mode: multiply; }

.img-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: .9;
  z-index: -1; }

.brandOne {
  font-size: 10em;
  font-family: 'Kaushan Script', cursive;
  line-height: .3em;
  color: #FF333A; }

.brandTwo {
  font-size: 4.5em;
  font-family: 'Playfair Display', serif;
  letter-spacing: 10px;
  margin-left: 20px; }

.login-content-wrapper {
  position: inherit;
  z-index: 100;
  height: 80%;
  background-color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 95px -29px rgba(0, 0, 0, 0.75); }

.tag-line {
  font-size: 1.6em; }

svg {
  height: 75px;
  width: 75px; }

.btn-container .btn {
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 275px;
  margin-right: 15px;
  text-decoration: none;
  padding: 0px 0px 0px 0px;
  height: 50px;
  border: 1px solid black;
  color: black;
  border-radius: 2px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition-property: color;
  -webkit-transition-property: color;
  transition-duration: 0.2s;
  webkit-transition-duration: 0.2s; }

.btn .slider {
  background: black;
  width: 800px;
  height: 150px;
  position: absolute;
  display: block;
  z-index: 0;
  transform: skew(-15deg);
  -webkit-transform: skew(-15deg);
  left: -850px;
  -webkit-transition: transform 0.3;
  transition: transform 0.3;
  transition-duration: .2s;
  -webkit-transition-duration: .5s; }

.btn .label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: black;
  font-size: 1.5em;
  transition-property: color;
  -webkit-transition-property: color;
  transition-duration: 0.2s;
  width: 100%; }

.label:hover {
  color: white; }

.btn:hover > .slider {
  transform: translateX(800px);
  -webkit-transform: translateX(800px);
  -webkit-transition-property: transform;
  transition-property: transform;
  transition-duration: .8s;
  -webkit-transition-duration: .8s; }

.btn .label:hover {
  color: white;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s; }

.navi {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  margin-left: 0;
  font-size: 1.5em;
  z-index: 0;
  position: fixed;
  padding-top: 50px;
  background-color: #424242;
  padding-right: 50px;
  color: white; }
  .navi a {
    color: white; }

.navi-wrapper {
  position: fixed;
  color: white; }

.brand-one-mini {
  margin-top: 50px;
  font-size: 4.5em;
  font-family: 'Kaushan Script', cursive;
  line-height: .3em;
  color: #FF333A;
  margin-left: 40px; }

.brand-two-mini {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  letter-spacing: 10px;
  margin-left: 40px; }

.card-input {
  background-color: white;
  font-size: .75em;
  font-weight: lighter;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 10%; }
  .card-input .form-group {
    display: flex;
    flex-direction: row;
    width: 80%; }
    .card-input .form-group .submit-payment {
      border: none;
      background-color: black;
      color: white; }
    .card-input .form-group input {
      font-size: .75em;
      text-align: center;
      margin: auto;
      border: none;
      border-bottom: 2px solid black;
      width: 45%;
      height: 40px;
      transition: border-bottom .1s, background-color .5s ease;
      margin-top: 3%; }
    .card-input .form-group input:focus {
      outline: none;
      border-bottom: 2px solid #FF333A;
      background-color: #fafafa;
      color: black; }
    .card-input .form-group .full-row {
      width: 100%; }

#creditcard {
  width: 100%;
  background-color: white;
  margin-top: 10%; }

.submit-payment {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin-right: 2%;
  margin-top: 1%; }

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

body {
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-family: 'Roboto Condensed', sans-serif; }

a {
  color: black; }

a:hover {
  color: #FF333A; }

li {
  list-style: none;
  width: 80%;
  margin: auto; }

/*# sourceMappingURL=main.css.map */
