//////////////////////
//////Page layout
//////////////////////
.content-page-wrapper {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: row;
}

.content-page-nav {
  width: 15%;
}

.content-page-posts {
  width: 55%;
  background-color: white;
}
.content-page-hashtags{
  width: 30%;
  padding-top: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
//////// search
//
.search-form {
  z-index: 1000;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:70px;
}
.rich-search {
  font-size: 1.5em;
  text-align: center;
  margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-bottom: 2px solid black;
  width:80%;
  height: 55px;
  transition: border-bottom .1s, background-color .5s ease;
}

.fa {
  width: 40px
}

////////////

.call-to-scroll {
  text-align: center;
  color: #ccc;
  z-index: -1

}


//////////////////

.rich-search:focus {
  outline: none;
  border-bottom: 2px solid #FF333A;
  background-color: rgb(250,250,250);
  color:black;
}


////////////// trending

.trending-hashtags {
  margin-top: 100px;
  background-color: #fefefe;
  text-align: center;
  .trending{
    text-align: left;
    font-size: 1.5em;
  }
}


//////////////////////
//////POSTS
//////////////////////
.post-top-section {
  display: flex;
  flex-direction: row;
  width:100%;
  height:100px;
  margin-top: 5%;
}


.post-top-section .title-date{
  width:60%;
  padding-left: 8%;
}

.post-top-section .userimage {
  width:40%;
  padding-top: 4%;
  padding-right:7%;
  text-align: right;
}

.user_image{
  border-radius: 50%; ;
}

.posts-container{
  width:750px;
  margin: auto;
  margin-top: 70px;
}

hr {
  width: 80%;
}

.post {
  margin-top:5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width:600px;
  -webkit-box-shadow: 0px 0px 95px -29px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 95px -29px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 95px -29px rgba(0,0,0,0.75);
}

.post-image {
  height:100%;
  width:100%;
}

.post-image-container {
  height:500px;
  width:500px;
}

.post-text {
  padding-top: 4%;
  padding-left: 9%;
  padding-right: 9%;
  font-size: 1.25em;
}

.hashtags{
  display: flex;
  flex-direction: row;
}

.hashtags-and-likes > * {
  width: 50%;
}

.active, .inactive {font-size:40px;cursor:pointer;}
.active, .inactive {font-size:40px;cursor:pointer;}
i.active { color: #ccc}
i.inactive {color: #FF333A;
}


.post-shop-comment-heart {
  display: flex;
  flex-direction: row;
  width:100%;
}

.post-shop {
  padding:0;
  width:33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-comment {
  padding:0;
  width:33%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-heart {
  padding:0;
  width:33%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.init-wrap {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-left: 60%;
}
