@import 'checkout';
@import 'createpost';
@import 'homeposts';
@import 'profile';
@import 'shoppingcart';
@import 'singlepost';
@import 'landing';
@import 'button';
@import 'nav';

body{
  margin: 0;
  padding:0;
  background-color: #fefefe;
  font-family: 'Playfair Display', serif;
}

li {
  list-style: none;
  width:80%;
  margin: auto;
}

.brand-break {
  color: black;
}

////////
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
