@media screen and (max-width: 1250px) {
    body {
        font-size: 1em;
    }

    //////////////////////
    //////Page layout
    //////////////////////
    .content-page-wrapper {
      display: flex;
      flex-direction: column;
    }
    .content-page-nav {
      width: 100%;
      height:200px;
      position: relative;
    }
    .content-page-posts {
      background-color: white;
      display: flex;
      width: 100vw;
      flex-direction: column;
      position: absolute;
    }
    .content-page-hashtags{
      background-color: #f6f6f6;
      position: absolute;
      width:100vw;
      height:300px;
      bottom: 0;
      margin-bottom: 0;
      bottom:0;
      position: fixed;
    }

    .users {
      display:none;
    }

    /////// seacrh
    .rich-search {
      position: sticky;
    }

    .search-form {
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height:130px;
      width:90%;
      background-color: white;
      position: relative;
      background-color: transparent;
      margin-top: -250px;
    }
    .rich-search {
      font-size: 1.5em;
      text-align: center;
      margin:auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      border-bottom: 2px solid black;
      width:90%;
      height: 55px;
      background-color: #424242;
      transition: border-bottom .1s, background-color .5s ease;
      position: static;
      position: relative;
    }


    //////////////// trending hasttags

    .content-page-hashtags {
      background-color: #363636;
      height:200px;
      width:100%;
    }

    .trending-hashtags {
      width:100vw;
      height:0;
      text-align: center;
      background-color: #363636;
      padding: 0;
      .trending {
        text-align: left;
        font-size: 1.5em;
        width:100%;
      }
      .single-hashtag {
        font-size: 2em;
        width:100%;
        height:200px;
        position: absolute;
      }
    }

    .users-wrapper {
      display:none;
    }
    .user-header {
      display: none;
    }

    /////// navigation
    ////////

    .navi {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      height: 100px;
      width:100%;
      align-items:center;
      margin-left: 0;
      font-size: 1.5em;
      z-index: 0;
      background-color: #424242;
      color:white;
      margin-bottom: 50px;
      a {
        color:white;
        width:20%;
        text-align: center;
        margin: auto;
      }
      hr {
        display:none;
      }
    }
    .navi-wrapper {
      position:fixed;
      color:white;
    }

    .brand-one-mini {
      display: none;
    }

    .brand-two-mini {
      display: none;
    }


    ///////////////// post-top-section

    //////////////////////
    //////POSTS
    //////////////////////
    .post-top-section {
      display: flex;
      flex-direction: row;
      width:100%;
      height:100px;
      margin-top: 5%;
    }

    .post-top-section .title-date{
      width:60%;
      padding-left: 8%;
    }

    .post-top-section .userimage {
      width:40%;
      padding-top: 4%;
      padding-right:7%;
      text-align: right;
    }

    .user_image{
      border-radius: 50%; ;
    }

    .posts-container{
      width:100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: auto;
      margin-top: 175px;
    }

    hr {
      width: 80%;
    }

    .post {
      margin-top:5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      width:90%;
      margin-left: -5%;
      margin: auto;
      -webkit-box-shadow: 0px 0px 95px -29px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 95px -29px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 95px -29px rgba(0,0,0,0.75);
    }

    .post-image {
      height:100%;
      width:100%;
      object-fit: cover;
      // object-position:center;
    }

    .post-image-container {
      height:70vw;
      width:70vw;
    }

    .post-text {
      padding-top: 4%;
      padding-left: 9%;
      padding-right: 9%;
      font-size: 1.25em;
    }
    .trending-hashtags {
      margin-top: -100px;
    }

    .hashtags{
      display: flex;
      flex-direction: row;
    }
    .single-hashtag {
      padding: 5%;
      font-size: 1em;
      height:100px;
    }

    .hashtags-and-likes > * {
      width: 50%;
    }

    .fa {
      width: 40px
    }

    .active, .inactive {font-size:40px;cursor:pointer;}
    .active, .inactive {font-size:40px;cursor:pointer;}
    i.active { color: #ccc}
    i.inactive {color: #FF333A;
    }

    .post-shop-comment-heart {
      display: flex;
      flex-direction:row;
      width:100%;
      margin:auto;
      padding:5%;
      margin-left: 5%;
    }

    .post-shop {
      display: flex;
      flex-direction:column;
      width:50%;

    }

    .post-heart {
      display: flex;
      flex-direction:column;;
      width:50%;
      justify-content: flex-end;
    }

    .post-price {
      font-size: 1em;
      margin-left: 3%;
    }

    .post-likes {
      font-size: 1em;
      margin-left: 5%;
    }

    ////////////// emd posts

}
