<div class="content-page-wrapper">
  <!-- section 1 -->
  <div class='content-page-nav'>
    <nav-bar></nav-bar>
  </div>
  <!-- section 2 -->
  <div class='content-page-posts'>
    <ul class="posts-container">
      <p class='call-to-scroll'>Scroll down to see more</p>
    <!-- start post -->
      <li class='post' ng-repeat="post in posts | filter:search" data="{{post.id}}" >
        <!-- Top section -->
        <div class="post-top-section">
          <!-- left side -->
          <div class="title-date">
            <h3 ui-sref="post({id: {{post.post_number}}})">{{post.post_title}}</h3>
            <p>{{post.post_created_at}}</p>
          </div>
          <!-- Right side -->
          <div class="userimage">
            <a ui-sref="profile({id: {{post.user_id}}})">
              <img class="user_image" src="{{post.user_photo}}" />
            </a>
          </div>
        </div>
        <!-- Image container -->
        <div class="post-image-container">
          <img src="{{post.photo_url}}" class='post-image' />
        </div>
        <!-- hashtags -->
        <div class="hashtags">
          <h4>{{post.hashtag}}</h4>
        </div>
        <!-- text -->
        <div class="post-text-container">
          <p class="post-text">{{post.posts_body}}</p>
        </div>
        <div class="post-shop-comment-heart">
          <!-- shop -->
          <div class="post-shop">
            <i class="fa fa-shopping-cart fa-4x"></i>
            <p>{{post.forsale}}</p>
            <h2><a ui-sref="shoppingcart({id: {{post.post_number}}})">${{post.price}}</a></h2>
          </div>
          <!-- hearts -->
          <div class="post-heart">
            <div class="init-wrap" ng-init="init()">
              <i class="fa fa-heart-o active" ng-if="post.status" ng-click="post.status = !post.status;"></i>
              <i class="fa fa-heart inactive" ng-if="!post.status" ng-click="post.status = !post.status;"></i>
              {{post.likes}}
              <form class="" method="post" ng-submit="likePost(post.post_number)" ng-model()>
                <input ng-model="" type="submit" name="name" value="like this post">
              </form>
            </div>
          </div>
        </div>
        <!-- end three seciton -->
      </li>
      <!-- end posts -->
    </ul>
  </div>
  <!-- section 3 -->
  <div class='content-page-hashtags'>
    <div class="content-right">
      <form class="search-form">
        <i class="fa fa-search"></i>
        <input class='rich-search' type="text" placeholder="Search for anything" ng-model="search">
      </form>
      <div class='trending-hashtags'>
        <h3>Trending &nbsp;|&nbsp;<i class="fa fa-hashtag"></i>'s</h3>
        <hr>
        <ul class='tredning-list'>
          <li class='trending' ng-repeat="hashtag in trending">{{hashtag}}</li>
        </ul>
      </div>
      <div class="">
        <ul>
          <li ng-repeat=""></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Page -->
</div>

<script>
$('.hearts').click(function(){
    $(this).next('ul').slideToggle('500');
    $(this).find('i').toggleClass('fa fa-heart-o icon-4x fa fa-heart icon-4x')
});
</script>
