<nav-bar></nav-bar>

<!-- <div class="jumbotron">
  <h1>Trending Causes</h1>
  <p>The most popular hastags will go here</p>
</div> -->

<ul class="posts-container">
  <li class='post' ng-repeat="post in posts" data="{{post.id}}" >
    <div class="main-post-content">
      <h2 ui-sref="post({id: {{post.id}}})">{{post.title}}</h2>
      <div class="post-image-container">
        <img src="{{post.image_content}}" class='post-image' />
      </div>
      <p class="post-text">{{post.text_content}}</p>
    </div>
    <div class="hashtags-and-likes">
      <h4>{{post.hashtag}}</h4>
      <h5>{{post.likes}}</h5>
    </div>
    <p>{{post.comments}}</p>
    <p>{{post.forsale}}</p>
    <p ui-sref="shoppingcart({id: {{post.id}}})">{{post.price}}</p>
  </li>
</ul>
