<div class="lading-page-canon">
  <div class="img-bg"></div>
  <div class="img-overlay"></div>
  <div class='login-content-wrapper'>
    <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <h1 class='brandOne'>Rebel</h1>
    <h1 class='brandTwo'>Markets</h1>
    <hr style="border-top:transparent;">

    <p class='tag-line' style="text-align:center;">Share Art<br>Discuss Politics<br>Support any cause</p>
    <hr style="border-top:transparent;">
    <!-- <br> -->
    <!-- Fist by Liane Kirschner from the Noun Project -->
    <div class="btn-container">
      <div class="btn">
        <div class="slider"></div>
        <a href="https://rebelmarkets.herokuapp.com/auth/google/">
          <p class="label">Login</p>
        </a>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  console.log('testing');
  $( '.btn-container' )
  .mouseenter(function() {
    $('.img-overlay').fadeOut(200)
  })
  .mouseleave(function() {
    $('.img-overlay').fadeIn(300).ease()
  });
})
</script>
