<div class="content-page-wrapper">
  <!-- section 1 -->
  <div class='content-page-nav'>
    <nav-bar></nav-bar>
  </div>
  <!-- section 2 -->
  <div class='content-page-posts' style="margin-top:-42px;">
    <ul class="posts-container">
      <li class='post' >
        <!-- Top section -->
        <div id="creditcard">
          <div class="card-wrapper"></div>
          <div class="form-container active">
            <form action="https://rebelmarkets.herokuapp.com/paypal/create" id="cardCredit" class="card-input">
              <!-- <input placeholder="Card number" type="text" name="number">
              <input placeholder="Full name" type="text" name="name">
              <input placeholder="MM/YY" type="text" name="expiry">
              <input placeholder="CVC" type="text" name="cvc"> -->
              <div class="form-group">
                <input type="hidden" name="method" value="credit_card">
                <input type="text" id="amount" name="amount" placeholder="amount" ng-model="cart.total" required>
                <input type="text" placeholder="currency" id="currency" maxlength="3" placeholder="USD" name="currency" ng-model="currency"  required>
              </div>
              <div class="form-group">
                <input placeholder="first name" type="text" id="first_name" name="first_name" ng-model="firstName" required>
                <input placeholder="last name" type="text" id="last_name" name="last_name" ng-model="lastName"  required>
              </div>
              <div class="form-group">
                <input type="password" id="number" name="number" placeholder="Card Number" ng-model="creaditCardNumber" required>
                <input  type="text" id="type" name="type" placeholder="Card Type" ng-model="cardType" required>
              </div>
              <div class="form-group">
                <input type="text" id="expire_month" name="expire_month" placeholder="expire month" ng-model="exireMonth" required>
                <input type="text" id="expire_year" name="expire_year" placeholder="expire year" ng-model="expireYear" required>
              </div>
              <div class="form-group last-row">
                <input type="text" id="cvc" class="cvc" name="cvv2" placeholder="CVV2" ng-model="cvv" required>
              <div class="btn-container">
                <div class="btn">
                  <div class="slider-post"></div>
                  <button type="submit" class="no-btn">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- end post bottom seciton -->
      </li>
    </ul>
    <!--end of section 2 -->
  </div>
  <!-- section 3 -->
  <div class='content-page-hashtags'>
    <h2>What you're buying</h2>
    <div class="cart-wrapper">
      <div class='mini-post'>
        <h3>{{cart[0].title}}</h3>
        <img ng-src="{{cart[0].image}}" class="mini-image" />
        <p>{{cart[0].hashtag}}<br></p>
        <p>{{cart[0].likes}}<br></p>
        <p>{{cart[0].price}}<br></p>
        <p>{{cart[0].quantity}}<br></p>
        <hr>
        <h1>Your total is: ${{cart.total}}</h1>
      </div>
    </div>
  </div>
</div>
<script src="../lib/js/card.js"></script>
<script>
    new Card({
        form: document.getElementById('cardCredit'),
        container: '.card-wrapper',
        formSelectors: {
            nameInput: 'input[name="first_name"], input[name="last_name"]',
            cvcInput: 'input[name="cvv2"]'

        },
        placeholders: {
            number: '**** **** **** ****',
            expire_year: '****',
            cvv2: '***'
        }
    });
</script>
