<div class="content-page-wrapper">
  <!-- section 1 -->
  <div class='content-page-nav'>
    <nav-bar></nav-bar>
  </div>
  <!-- section 2 -->
  <div class='content-page-posts' style="margin-top:-43px;">
    <ul class="posts-container">
      <li class='shopping-post' data="{{post.id}}" >
        <!-- Top section -->
        <div class="post-top-section">
          <!-- left side -->
          <div class="title-date">
            <h3 ui-sref="post({id: {{post.post_number}}})">{{artObject.title}}</h3>
            <p>{{post.post_created_at}}</p>
          </div>
          <!-- Right side -->
          <div class="userimage">
            <a ui-sref="profile({id: {{post.user_id}}})">
            </a>
          </div>
        </div>
        <!-- Image container -->
        <div class="shopping-post-image-container">
          <img src="{{artObject.image}}" class='post-image' />
        </div>
        <!-- hashtags -->
        <div class="hashtags">
          <h4>{{artObject.hashtag}}</h4>
        </div>
        <!-- text -->
        <div class="post-text-container">
          <p class="post-text-shop">{{artObject.text}}</p>
        </div>
        <!-- end three seciton -->
      </li>
    </ul>
    <!--end of section 2 -->
  </div>
  <!-- section 3 -->
  <div class='content-page-hashtags'>
      <!--print to screen -->
    <h2 style="color:white;margin-top:-85px;">Your Shopping Cart</h2>
    <hr>
    <div class="cart-wrapper">

      <div ng-repeat="item in cart track by $index" class='mini-post'>
        <h3>{{item.title}}</h3>
        <img ng-src="{{item.image}}" class="mini-image" />
        <p>{{item.hashtag}}</p>
        <p>{{item.likes}}</p>
        <p>{{item.price}}</p>
        <h4>Item quantity: {{item.quantity}}</h4>
        <h4>Item subtotal: {{item.subtotal}}</h4>
      </div>
    </div>
    <div class="checkout-btns">
      <div class='btn-row-one'>
        <input type="number" name="name" ng-model="artObject.quantity" placeholder="quantity">
        <button class='add-to-cart' type="button" name="button" ng-click="addToCart(artObject)"><i class="fa fa-cart-plus fa-2x"></i>&nbsp;|&nbsp; Add to cart</button>
      </div>
      <div class='btn-row-two'>
        <h1 class='cart-total' style="color:white;">Total: {{cart.total}}</h1>
        <button ui-sref="paypal()"><i class="fa fa-credit-card fa-2x"></i>&nbsp;|&nbsp; Checkout</button>
      </div>
    </div>
  </div>
</div>
