<div class="content-page-wrapper">
  <!-- section 1 -->
  <div class='content-page-nav'>
    <nav-bar></nav-bar>
  </div>
  <!-- section 2 -->
  <div class='content-page-posts' style="margin-top:60px;">
    <ul class="posts-container">
      <li class='post' data="{{post.id}}" >
        <!-- Top section -->
        <div class="post-top-section">
          <!-- left side -->
          <div class="title-date">
            <h3 ui-sref="post({id: {{post.post_number}}})">{{artObject.title}}</h3>
            <p>{{post.post_created_at}}</p>
          </div>
          <!-- Right side -->
          <div class="userimage">
            <a ui-sref="profile({id: {{post.user_id}}})">
            </a>
          </div>
        </div>
        <!-- Image container -->
        <div class="post-image-container">
          <img src="{{artObject.image}}" class='post-image' />
        </div>
        <!-- hashtags -->
        <div class="hashtags">
          <h4>{{artObject.hashtag}}</h4>
        </div>
        <!-- text -->
        <div class="post-text-container">
          <p class="post-text">{{artObject.text}}</p>
        </div>
        <div class="post-shop-comment-heart">
          <div class="btn-group-vertical btn-group-sm">
            <input type="number" name="name" ng-model="artObject.quantity" placeholder="quantity">
            <button type="button" name="button" ng-click="addToCart(artObject)">Add to cart</button>
          </div>
        </div>
        <!-- end three seciton -->
      </li>
    </ul>
    <!--end of section 2 -->
  </div>
  <!-- section 3 -->
  <div class='your-cart'>
      <!--print to screen -->
      <h2>Your Shopping Cart</h2>
      <div class="cart-wrapper">
        <div ng-repeat="item in cart track by $index" class='mini-post'>
          <h3>{{item.title}}</h3>
          <img ng-src="{{item.image}}" class="mini-image" />
          <p>{{item.hashtag}}</p>
          <p>{{item.likes}}</p>
          <p>{{item.price}}</p>
          <h4>Item quantity: {{item.quantity}}</h4>
          <h4>Item subtotal: {{item.subtotal}}</h4>
        </div>
      </div>
      Total: {{cart.total}}
      <button ui-sref="paypal()">Checkout</button>
    </div>
  </div>
